; Au lieu de lancer : ansible-playbook -i inventory.ini site.yml
[defaults]
inventory = inventory.ini ; Ansible saura automatiquement où trouver les machines.
host_key_checking = False ; pour ne pas poser Are you sure you want to continue connecting (yes/no)? lors du 1er ssh
remote_user = azureuser ; on evite d ecrire -u azureuser a chaque commande